.navbar {
    padding: 1.5rem;
}

.hero-background-img {
    background-image: url("monkey.jpeg");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: bottom;
    padding-top: minmax(0px, 300px);
    padding-bottom: minmax(0px, 300px);
}

@keyframes btn-hover {
    0% {
        background-color: #2c3e50;
        border-color: #2c3e50;
    } 
    50% {
        background-color: #95a5a6;
        border-color: #95a5a6;
    }
    100% {
        background-color: #2c3e50;
        border-color: #2c3e50;
    } 
}

.btn-primary[type="submit"]:hover {
    animation-name: btn-hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footer {
    padding: 2rem;
}